@tailwind base;

@layer base {
    *,
    ::before,
    ::after {
        box-sizing: border-box;
    }
    input[type='number'] {
        -webkit-appearance: textfield !important;
        -moz-appearance: textfield !important;
        appearance: textfield !important;
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}

@tailwind components;
@tailwind utilities;
